.cardContainer{
    background-color: rgb(133, 133, 133);
    width: 20rem;
    margin: 1rem;
}

.cardDivisor{
    height: 1px;
    background-color: grey;
}

.cardInfo{
    display: flex;
    flex-direction: column;
}