.cardContainer{
    background-color: whitesmoke;
    width: 15rem;
    margin: 15px;
    height: 20rem;
    text-decoration: none;
    text-align: center;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.nameCard{
    font-size:larger;
    text-transform: capitalize;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    font-size:medium;
    font-weight: 500;
    text-transform: capitalize;
}


.cardContainer img{
    width:130px;
    padding: 25px 0 25px 0;
}
