* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bodyDetail {
  display: flex;
  justify-content: center;
}

.imageGif {
  display: flex;
  justify-content: end;
}

.imageGif img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.containerDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 400px;
  margin: 6%;
  border-radius: 20px;
}

.backgroundDetail {
  text-align: center;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    166deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(147, 147, 147, 1) 100%
  );
  /*box-shadow: 20px 20px 60px #cccccc, -20px -20px 60px #e6e6e6;*/
}

.imageDetail {
  width: 300px;
  height: 300px;
  margin-bottom: 70px;
}

.containerLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mime {
  margin-top: 350px;
  width: 100px;
  height: 100px;
}

.contentDetail {
  height: 100%;
  background: whitesmoke;
  padding: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}



.pokemonStats {
  text-align: start;
  margin-top: -45px;
}

.pokemonStats p {
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
}

span {
  font-weight: 500;
  padding-right: 10px;
  padding-bottom: 10px;
}

.pokemonNameDetail {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
  color: rgb(18, 16, 46);
}

.pokemonType {
  /*background: rgb(197, 24, 24);*/
  padding: 7px;
  margin-top: 15px;
  color: whitesmoke;
  border-radius: 5px;
  width: 200px;
  display: block;
  justify-content: center;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}

.pokemonStats {
  letter-spacing: 1px;
  padding-top: 60px;
}
