.linkCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    min-height: 90vh;
}

.card{
    text-decoration: none;
    color: rgb(24, 54, 32);
}

.containerButton{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.containerButton select{
    margin-left: 10px;
    margin-right: 10px;
}

.containerButton .SB{
  margin-right: 90px;
}

.azButton{
  width: 80px;
  height: 30px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.azButton:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}

.typesButton{
  width: 80px;
  height: 30px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.typesButton:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}

.attackButton{
  width: 80px;
  height: 30px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.attackButton:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}

.origenButton{
  width: 80px;
  height: 30px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.9em;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.origenButton:hover {
  background: #315cfd;
  color: white;
  font-size: 1em;
}

.recargar {
  color: white;
  background-color: rgb(39, 39, 39);
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  border: none;
  height: 30px;
}

.recargar:hover {
  background-color: #333;
}

.recargar svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.recargar:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.containerLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mime {
  margin-top: 50px;
  width: 100px;
  height: 100px;
}

.psydock{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nF{
  font-size: 20px;
  color: #333;
}

.signos{
  color: #333;
  font-size: 35px;
  font-weight: 900px;
}