.navContainer {
  background-color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  height: 80px;
}

.imgContainer img {
  width: 12rem;

  margin-left: -40px;
}

.linkContainer{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
}

.linkHome, .linkCrear{
    color: whitesmoke;
    text-decoration: none;
}
