.navContainer {
  background-color: rgb(39, 39, 39);
  display: flex;
}

.imgContainer img {
  width: 5rem;
  margin: 10px;
}

.linkContainer{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 5vw;
}

.linkHome, .linkCrear{
    color: whitesmoke;
    text-decoration: none;
}
