.formContainer {
  background-size: 20px 20px;
  background-position: 0 0, 10px, 10px;
  /*display: flex;*/
  min-height: 100vh;
  /*position: relative;*/
}

.form {
  background-color: rgb(171, 169, 169);
  margin: auto;
  width: 70%;
  max-width: 500px;
  padding: 4, 5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
}

.formTitle {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.formGroup {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}

/*.form-group input{
    width: 80%;
    background-color: none;
    color: azure;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form-group label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
}*/
